@model IEnumerable<Mortgage_Loan_Processing_System.Application>
@{
    ViewBag.Title = "userDashboard";
}
<html>
<head>
    <style>
        .button {
            height: 40px;
            width: 350px;
            font-size: 18px;
            font-weight: bold;
            color: white;
            background-color: dodgerblue;
            border-color: dodgerblue;
            border-radius: 10px
        }

        .button2 {
            height: 40px;
            width: 450px;
            font-size: 18px;
            font-weight: bold;
            color: white;
            background-color: indianred;
            border-color: indianred;
            border-radius: 10px
        }
    </style>
</head>
<body background="~/BG.png">
    <table>
        <tr>
            <td>
                <div>
                    <h3>Hi,</h3>
                    <h2>@ViewBag.Message</h2>
                </div>
            </td>
            <td style="padding-left:850px">
                <h5 style=" color:black">
                    @Html.ActionLink("Profile", "Index")
                </h5>
            </td>
            <td style="padding-left:30px">
                @Html.ActionLink("Logout", "Index")
            </td>
        </tr>
    </table>
    <hr />
    <div style="text-align:center; height:400px">
        @if (Model.Count() == 0)
        {
            <h4>No applications found</h4>
        }
        else
        { <table class="table">
              <tr >
                  <th>
                      <label>Application ID</label>
                  </th>
                  <th>
                      Poperty value
                  </th>
                  <th>
                      Expected Loan Amount
                  </th>
                  <th>
                      Date of application
                  </th>
                  <th>
                      Status
                  </th>
                  <th></th>
              </tr>
    @foreach (var item in Model)
    {
          <tr>
              <td>
                  @Html.DisplayFor(modelItem => item.ApplicationID)
              </td>
              <td>
                  @Html.DisplayFor(modelItem => item.PropertyValue)
              </td>
              <td>
                  @Html.DisplayFor(modelItem => item.Expected_Loan_Amount)
              </td>
              <td>
                  @Html.DisplayFor(modelItem => item.DateOfApplication)
              </td>
              <td>
                  @Html.DisplayFor(modelItem => item.Status)
              </td>
              <td>
                  @Html.ActionLink("View", "viewApplication", new { id = item.ApplicationID})
              </td>
          </tr>
    }
</table>
                }

        </div>
    <div style="text-align:center">
        @using (Html.BeginForm("Enquiry", "Home", new { id = ViewBag.username }, FormMethod.Post))
        {
            <input type="submit" value="Apply for Mortgage loan" class="button" />
        }
        <br />
        <br />
        @using (Html.BeginForm("Enquiry", "Home", new { id = ViewBag.username }, FormMethod.Post))
        {
            <input  type="submit" value="Know more" class="button2" />
        }
    </div>
</body>
</html>

