@model Mortgage_Loan_Processing_System.Application

@{
    ViewBag.Title = "viewApplication";
}


<html>
<head>
    <style>
        .button {
            height: 50px;
            width: 250px;
            font-size: 18px;
            font-weight: bold;
            color: white;
            background-color:indianred;
            border-color:indianred;
            border-radius: 10px;
        }
    </style>
</head>
<body background="~/BG.png">
    <div style="text-align:center">
        <h2 style="font-weight:bold">Application Details</h2>
        <br />
        <br />
    </div>
    <div>
        <br />
        <br />       
            <table>
                <tr>
                    <td style="padding-left:50px">
                        <label style="font-size:18px">Property Type:</label>
                        <br />
                        <br />
                    </td>
                    <td style="padding-left:50px">
                        @Html.DisplayFor(model => model.PropertyType)
                        <br />
                        <br />
                    </td>
                    <td style="padding-left:150px">
                        <label style="font-size:18px">Property value:</label>
                        <br />
                        <br />
                    </td>
                    <td style="padding-left:50px">
                        @Html.DisplayFor(model => model.PropertyValue)
                        <br />
                        <br />
                    </td>
                </tr>
                <tr>
                    <td style="padding-left:50px">
                        <label style="font-size:18px">Expected Loan Amount:</label>
                        <br />
                        <br />
                    </td>
                    <td style="padding-left:50px">
                        @Html.DisplayFor(model => model.Expected_Loan_Amount)
                        <br />
                        <br />
                    </td>
                    <td style="padding-left:150px">
                        <label style="font-size:18px">Tenure(in Years):</label>
                        <br />
                        <br />
                    </td>
                    <td style="padding-left:50px">
                        @Html.DisplayFor(model => model.LoanTenure)
                        <br />
                        <br />
                    </td>

                </tr>

                <tr>
                    <td style="padding-left:50px">
                        <label style="font-size:18px">Aadhar Number:</label>
                        <br />
                        <br />
                    </td>
                    <td style="padding-left:50px">
                        @Html.DisplayFor(model => model.Aadhar)
                        <br />
                        <br />
                    </td>
                    <td style="padding-left:150px">
                        <label style="font-size:18px">PAN Number:</label>
                        <br />
                        <br />
                    </td>
                    <td style="padding-left:50px">
                        @Html.DisplayFor(model => model.Pan)
                        <br />
                        <br />
                    </td>
                </tr>
                <tr>
                    <td style="padding-left:50px">
                        <label style="font-size:18px">Bank account number:</label>
                        <br />
                        <br />
                    </td>
                    <td style="padding-left:50px">
                        @Html.DisplayFor(model => model.AccountNo)
                        <br />
                        <br />
                    </td>
                    <td style="padding-left:150px">
                        <label style="font-size:18px">Status:</label>
                        <br />
                        <br />
                    </td>
                    <td style="padding-left:50px">
                        @Html.DisplayFor(model => model.Status)
                        <br />
                        <br />
                    </td>
                </tr>
                <tr>
                    <td style="padding-left:50px">
                        <label style="font-size:18px">Applied on:</label>
                        <br />
                        <br />
                    </td>
                    <td style="padding-left:50px">
                        @Html.DisplayFor(model => model.DateOfApplication)
                        <br />
                        <br />
                    </td>                    
                </tr>
            </table>
            <br />
            <br />
            <div style="text-align:center">
                <input type="button" value="Back" onclick="back()" class="button" />
            </div>
        <script>
            function back() {
                history.back();
            }
        </script>
        
    </div>


</body>
</html>